h1{
                color: rgb(10, 1, 1); 
                font-size: 30px;
            }
            p{
                color: rgb(11, 36, 2); 
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            img{
                border: 2px solid rgb(7, 214, 241);
            }
            body {
      background-image: fondo.jpg.jpg; /* Ruta de la imagen */
      background-size: cover; /* Hace que la imagen cubra toda la pantalla */
      background-repeat: no-repeat; /* Evita que se repita */
      background-attachment: fixed; /* Fija la imagen al hacer scroll */
      background-position: center; /* Centra la imagen */
    }